body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  *{
    box-sizing: border-box;
  }
  #section {
    width: 100%; /* 배경이 화면 전체를 채우도록 설정 */
    display: flex; /* 내부 콘텐츠 정렬을 위한 Flexbox */
    justify-content: center; /* 내부 콘텐츠 가운데 정렬 */
  }
  
  /* 콘텐츠 스타일 */
  .section-content {
    max-width: 1200px; /* 콘텐츠의 최대 너비 설정 */
    width: 100%; /* 화면 크기 따라 유동적으로 줄어듦 */
    padding: 20px; /* 양쪽 여백 */
  }