.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 150px 14% 130px 7%;
  background-color: #ffffff;
}

.content {
  flex: 1;
  text-align: left;
  margin-right: 20px;
}

.greeting {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

.role {
  font-size: 3rem;
  font-weight: bold;
  color: #d0a2f7;
  margin-bottom: 20px;
}

.description {
  font-size: 1.3rem;
  color: #777;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hire-me-button {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #cfa8ff;
  background-color: #cfa8ff;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.hire-me-button:hover {
  background-color: #ac67ff;
  color: #fff;
  border-color: #ac67ff;
}

.image-container {
  flex: 1;
  text-align: center;
  position: relative;
}

.profile-image {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  box-shadow: 60px 50px rgba(220, 191, 255, 0.6);
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .hero-section {
    display: flex;
    gap: 10px;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    padding: 50px 20px; /* 모바일용 패딩 */
  }

  .image-container {
    order: 1; /* 이미지를 먼저 배치 */
    margin-bottom: 20px; /* 이미지와 컨텐츠 사이 간격 */
  }

  .section-content {
    order: 2; /* 컨텐츠를 이미지 아래에 배치 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 100%; /* 전체 너비 사용 */
  }

  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 30px 20px rgba(220, 191, 255, 0.6);
    object-fit: cover;
    object-position: center;
    margin-top: 30px;
  }

  .greeting,
  .role,
  .description {
    margin: 5px 0 10px; /* 텍스트 간격 조정 */
  }

  .hire-me-button {
    margin-top: 20px; /* 버튼 상단 간격 */
  }
}
